<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem 
        id="it_menu_root" 
        name="IT Organizer" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="it_peralatan_menu_categ" 
        name="Peralatan" 
        parent="it_menu_root" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="it_order_menu_categ" 
        name="Order" 
        parent="it_menu_root" 
        sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="it_partner_menu_categ" 
        name="Pegawai" 
        parent="it_menu_root" 
        sequence="30"/>
        
</odoo>
